.sub-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sub-inner {
  display: flex;
  flex-direction: column;
}

.sub-input {
  padding: 17px;
  border: 2px solid #377b00;
  height: 56px;
  font-size: 18px;
}
